.logo-socialnetwork {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.logo-stack {
    width: 30px;
    height: 30px;
    margin-left: 50px;
}

@media (max-width: 720px) {

    .logo-stack {
        margin-left: 3%;
    }
}